<!doctype html>
<html lang="en" ng-app='adminDash'>
<head>
  <meta charset="utf-8">
  <title>admin</title>
  <meta name="description" content="Blog">
  

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel='stylesheet' href='/admin/css/main.css'>
  <link rel='stylesheet' href='/common/sweetalert.css'>
 <!-- <script src="/admin/js/controllers.js"></script> -->
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <script type="text/javascript" src="/common/common_JS/angular.min.js"></script>
  <script type="text/javascript" src="/common/common_JS/angular-ui-router.js"></script>
  <script type="text/javascript" src="/common/common_JS/angular-sanitize.js"></script>
  <script type="text/javascript" src="/common/common_JS/showdown.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script type="text/javascript" src="/common/common_JS/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src='/admin/js/lib/markdown.js'></script>
  <script src='/admin/js/app.js'></script>
  <script src='/common/modules/posts.js'></script>
  <script src='/admin/js/controllers.js'></script>
  <script src='/common/sweetalert.min.js'></script>

  <script type='text/javascript'>
    var currentUser = <%- JSON.stringify(user); %>;
    adminApp.run(function($rootScope){
      $rootScope.currentUser = currentUser;
    });
  </script>
</head>
<body>
 <div class="container">
  <div ng-include='"/admin/templates/nav.html"'></div>
  <div ui-view class='full-height container' id='main-content'></div>
</div>
  
</body>
</html>