<div class='row full-height'>
    <!-- Sidebar -->
    <div class='col-sm-4 col-md-4'>
        <h3>Published posts</h3>
        <ul class="list-group">
            <li ng-show="!posts.length">No posts have been published</li>

            <li ng-repeat='post in posts track by $index' class="list-group-item mt-10" ng-click='setActive(post)'>

                <h4 class="list-group-item-heading">{{post.title}}</h4>
                <p class="list-group-item-text">{{post.body.substr(0, 80)}}</p><span>...</span>
            </li>
        </ul>
    </div>

    <div class='col-md-8 col-sm-8 full-height panel '>
        <div class="panel-heading">{{activePost.title}}</div>
        <div class="panel-body" btf-markdown='activePost.body'>{{activePost.body}}</div>
    </div>
</div> 

